.admin-dashboard{
    display: flex;
    gap: 2rem;
    height: 100%;
    text-align: center;
    padding: 3rem;
}

.admin-dashboard-table-container{
    height: auto;
}
.admin-dashboard-left-section{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.admin-dashboard-table-container{
    box-shadow: rgba(3, 3, 3, 0.1) 0px 2px 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
.admin-table thead, .admin-dashboard-left-section h2{
    position: sticky;
    top: 0;
    background-color: white;
}
.admin-table{
    color: #000;
}
.admin-table td {
    padding: 1rem;
}
.admin-table-voted-row{
    background-color: green;
}
.admin-dashboard-right-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
}
.admin-dashboard-chart-container{
    box-shadow: rgba(3, 3, 3, 0.1) 0px 2px 10px;
    border-radius: 10px;
    padding: 2rem;
    max-width: 500px;
}
.admin-dashboard-chart-container h2 {
    margin-bottom: 1rem;
}