*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: #000;
}
button{
    padding: 10px;
    background-color: #2AD2C9;
    color: #fff;
    border: #030303 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    box-shadow: rgba(3, 3, 3, 0.1) 0px 0px 10px;
    min-width: 120px;
    height: 36px;
}
main{
    height: 100vh;
}
